<% provide(:title, "Modify") %>

<%= render 'password_modal' %>

<h1>Change Account Settings</h1>

<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(@user) do |f| %>

			<%= f.text_field :email %>
			<%= f.text_field :handle, label: "User Name" %>
			<%= f.text_field :name, label: "Real Name" %>
			<%= f.password_field :password %>

			<div>
				<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
				<a class="btn btn-large btn-primary right" data-toggle="modal" href='#passwordModal'>Change Password</a>
			</div>

		<% end %>
	</div>
</div>