<div class="dont-print modify">
	<%= link_to page('Items'), '/rules#tab-items', class: 'btn btn-primary disable-button' %>
	<a class='btn btn-warning disable-button' data-toggle='modal' href='#itemModal'><span class='glyphicon glyphicon-wrench'></span> Change Items</a>
</div>
<p/>

<% unless @character.items.empty? %>
	<table class='table table-bordered table-condensed item-table'>
		<col class="name-col"/>
		<col class="small-col"/>
		<col class="mid-col"/>
		<col class="mid-col"/>
		<col class="small-col"/>
		<col class="small-col"/>
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Bonus</th>
				<th>Class</th>
				<th>Damage</th>
				<th>Range</th>
				<th>DR</th>
				<th>Effect</th>
			</tr>
		</thead>
		<tbody>
			<% [@character.primary, @character.off_hand, @character.armour].compact.each do |item| %>
				<tr>
					<td><%= item.name %></td>
					<td class="center"><%= "+#{item.bonus}" if item.bonus %></td>
					<td><%= item.weapon_class %></td>
					<td><%= item.damage %></td>
					<td class="center"><%= "+#{item.range}" if item.range %></td>
					<td class="center"><%= item.dr %></td>
					<td><%= item.quick %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>