<%= form_for(@character, url: { action: :skills }, html: { id: 'form-skill-levels' } ) do |f| %>

<div class="dont-print modify">
	<div class="btn-toolbar spacing">
		<%= link_to page('Skills'), '/rules#tab-skills', class: "btn btn-primary disable-button" %>
		<a class="btn btn-success disable-button" data-toggle="modal" href='#addModal'><%= add('Skills') %></a>
		<% if @character.skills.count == 4 # only base skills %>
			<a class='btn btn-danger' disabled='true'><%= remove('Skills') %></a>
		<% else %>
			<a class="btn btn-danger disable-button" data-toggle="modal" href='#removeModal'><%= remove('Skills') %></a>
		<% end %>
		<!-- <a class='btn btn-warning skill-level-select' onClick='submit_via_jquery()'><i class='icon-ok icon-white'></i> Save Changes</a>-->
		<a class="btn btn-warning" onClick="show_skill_levels()" id='skill-levels'><%= change('Skill Levels') %></a>
		<a class="btn btn-info" data-toggle="collapse" href="#roller" aria-expanded="false" aria-controls="roller"><%= show_roller %></a>
	</div>
	<div id="roller" class="collapse">
		<div class="well form-inline">
			<div class="form-group">
				<label for="custom-roll-dice">Roll</label>
				<input type="number" class="form-control small-number" id="custom-roll-dice">
			</div>
			<%= select_tag "custom-roll-size".to_sym, options_for_select([["d4", 4], ["d6", 6], ["d8", 8], ["d10", 10], ["d12", 12]]), class: "form-control" %>
			<div class="form-group">
				<label for="custom-roll-keep">, keeping</label>
				<input type="number" class="form-control small-number" id="custom-roll-keep">
			</div>
			<a id="custom-roll" class="btn btn-info">Roll!</a>
		</div>
	</div>
</div>

<!-- ########### Skills Table ########### !-->

<table class='table table-bordered table-condensed skill-table'>
	<col class="name-col"/>
	<col class="level-col dont-print"/>
	<col class="small-col dont-print"/>
	<col class="small-col"/>
	<col class="small-col"/>
	<thead>
		<tr>
			<th>Skill Name</th>
			<th class='dont-print'>Level</th>
			<th class='dont-print'>Cost</th>
			<th>Mana</th>
			<th>Power</th>
			<th>Effect</th>
		</tr>
	</thead>
	<tbody>
		<% @character.skills.sort_by{ |skill| skill.name }.each do |skill| %>
			<%= content_tag :tr, class: skill_id(skill), data: { prereqs: skill_prereqs(skill) } do %>
				<%= content_tag :td, class: skill.synergy_css('name-'), rowspan: skill.effects.count do %>
					<%= content_tag :span, skill.full_name, rel: 'popover', 'data-content' => popover_content(skill), 'data-original-title' => popover_title(skill), class: 'skill-popover left' %>
					<% skill.icons.each do |icon| %>
						<%= content_tag :a, class: 'icon-tooltip right', rel: 'tooltip', title: icon[:name], style: 'width:20px' do %>
							<%= image_tag icon[:image], class: 'skill-icon' %>
						<% end %>
					<% end %>
				<% end %>
				<%= content_tag :td, class: 'center dont-print', rowspan: skill.effects.count do %>
					<span class="skill-level"><%= skill.level %></span>
					<span class="skill-level-select">
						<%= select_tag skill.name_tag('level'), options_for_select(skill.min_level..20, skill.level), class: "skill-level-option", onChange: "update_required('#{skill.name}'); recalculate_xp();" %>
					</span>
				<% end %>
				<%= content_tag :td, skill.cost, class: 'center dont-print', rowspan: skill.effects.count %>
				<% unless skill.effects.empty? %>
					<% skill.effects.each_with_index do |effect, index| %>
						<%= tag(:tr, {class: skill_id(skill)}, true) unless index.zero? %>
							<td class="mp center"><%= effect[:mana] %></td>
							<td class="power center"><%= @character.power(skill, effect) %></td>
							<td style='text-align:left;'><%= parse_text_xml(effect[:quick], type: :quick).html_safe %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<% end %> <!-- end submit form !-->