<% provide(:title, "New Character") %>

<%= render 'characters/import_modal' %>

<h1>Create a New Character</h1>

<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(@character) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.text_field :name %>
			<%= f.select(:race, %w[Wolf Dwarf Goblin Vampire]) %>
			<%= f.select(:campaign_id, current_user.campaign_select, label: "Campaign") %>

			<div>
				<%= f.submit "Create Character", class: "btn btn-large btn-primary" %>
				<a class="btn btn-large btn-primary right" data-toggle="modal" href='#importModal'>Import Character</a>
			</div>

		<% end %>
	</div>
</div>